
<div class="login-form">
  <%= form_tag sessions_path do %>

      <div class = "title">
        <h1>Log in</h1>
        <span>Please enter your email and password.</span>
      </div>
      <div class="content">
        <ul class="list-item">
          <li>
             <%= text_field_tag :email, params[:email], :class => 'input', :placeholder => 'email'%>
          </li>
          <li>
             <%= password_field_tag :password, params[:password], :class => 'input', :placeholder => 'password'%>
          </li>
        </ul>
        <div class = "button-div">
          <input type="submit" name="submit" value="Login" class="button" />
        </div>
      </div>
  <% end %>
</div>
