<table class="search-table">

<% if @company.empty? %>
        <tr class="home-main-row">
        <td>There were no results for your query</td>
        </tr>
<% else %>
	<% for company in @companies %>
			
		<tr class="home-main-row">
        <td><%= link_to company.company_name, edit_company_path(company) %></td>
        </tr>

	<% end %>
<% end %>

</table>