<div class="home-card">

<h1>dashboard</h1>

<table>   
  <td>
	<h3>Search</h3>   
	
	<form action='/search'>
		<input name="query" type="text" />
		<input type='submit' value='Search' />
	</form>
  </td>
  <td>
	<%= render 'notifications' %>

  </td>

</table>

</div>