<div class="home-card">

<h1>dashboard</h1>

<table>
	<tr>
		<th>Search</th>
		<th>notifications</th>
	</tr>
	  
	<tr>
		<td class="search-half">
			<table class="search-table">
			<form action='/search'>
				<tr> <td>
				<input name="query" type="text" />
				<input type='submit' value='Search' />
				</td>
				</tr>
				</table>
				<%= render 'search' %>

			</form>
			
  		</td> 
  
  		<td class="noti-half">
			<%= render 'notifications' %>
  		</td>
  	</tr>

</table>

</div>