<div class="home-card">

<h1>dashboard</h1>

<table>
	<tr>
		<th>Search</th>
		<th>notifications</th>
	</tr>
	  
	<tr>
		<td>
			<form action='/search'>
				<input name="query" type="text" />
				<input type='submit' value='Search' />
				<%= render 'search' %>
			</form>
  		</td> 
  
  		<td>
			<%= render 'notifications' %>
  		</td>
  	</tr>

</table>

</div>