<div>
<<<<<<< HEAD
  <table>
    <thead>
      <tr>
        <th>Event Details</th>
        <th>Time</th>
      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.event_details %></td>
          <td><%= event.event_time %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
=======
<table>
  <thead>
    <tr>
      <th>Event Details</th>
      <th>Time</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.event_details %></td>
        <td><%= event.event_time %></td>
      </tr>
    <% end %>
  </tbody>
</table>
>>>>>>> b74f780d16363fcd46e0c404fca098a38aa23e1f
</div>