<div class="business-tabview" >
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>


    <div id="tabs">
        <ul>
            <li><a href="#tabs-1" title="">expenditure</a></li>
            <li><a href="#tabs-2" title="">revenue</a></li>
            <li><a href="#tabs-3" title="">times</a></li>
            <li><a href="#tabs-4" title="">routes</a></li>
        </ul>
        <div id="tabs_container">
            <div id="tabs-1">
                <!--tab content-->
            </div>
            <div id="tabs-2">
                   <!--tab content-->
            </div>
            <div id="tabs-3">
                    <!--tab content-->
            </div>
            <div id="tabs-4">
                    <!--tab content-->
            </div>
        </div><!--End tabs container--> 
   </div><!--End tabs-->
</div>