<div class="business-tabview" >
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>


    <div id="tabs">
        <ul>
            <li><a id= "select_tab_1" title="">expenditure</a></li>
            <li><a id="select_tab_2" title="">revenue</a></li>
            <li><a id = "select_tab_3" title="">times</a></li>
            <li><a id = "select_tab_4 title="">routes</a></li>
        </ul>
        <div id="tabs_container">
            <div id="tab1">
               <%= render partial:"graphs/expenditure" %>
            </div>
            <div id="tab2" style = "display:none">
                tab two baby
            </div>
            <div id="tab3" style = "display:none">
                you dawg this is page 3
            </div>
            <div id="tabs-4">
                    <!--tab content-->
            </div>
        </div><!--End tabs container--> 
   </div><!--End tabs-->
</div>