<div class="business-card">
	<h1>Business Figures</h1>

	<table class="business-divisor" >
		<tr>
			<td><%= render 'tabview' %></td>
			<td><%= render 'logfile' %></td>
		</tr>
	</table>

<!---  todo: Add a check if it's a clerk and then render the logfile partial !-->

</div>