<div class="business-card">
	<h1>Business Figures</h1>

	<table class="business-divisor" >
		<tr>
			<td width= "45%"><%= render 'tabview' %></td>
			        <% if current_user.is_manager %>
			<td><%= render 'logfile' %></td>
			<% end %>
		</tr>
	</table>



<!---  todo: Add a check if it's a clerk and then render the logfile partial !-->

</div>