<%= form_tag(@company, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search" %>
    <%= submit_tag "Search" %>
<% end %>

<% @companies.each do |c|%>
    <ul>
      <li>
        <%= link_to c.company, c %>
      </li>
    </ul>
<% end %>

