<div class="companies-card" >
  <h1>transport companies</h1>

  <table>
      <tr>
        <th>Company name</th>
        <th></th>
      </tr>

      <% @companies.each do |company| %>
        <tr>
          <td class="companies-view-button"><%= link_to company.company_name, company %></td>
          <td class="other-button"><%= link_to 'Edit', edit_company_path(company) %></td>
        </tr>
      <% end %>
  </table>

  <div class="add-companies-button"><%= link_to '+ Add Company', new_company_path %></div>

  

</div>