<div>
  <%= render(:partial => "companies_form",:controller=>"companies", :model=>@company) %>
  <%= render(:partial => "companies_search",:controller=>"companies", :model=>@company) %>
  <%= paginate @companies %>
</div>
