<div class="content">
  <%= form_tag sessions_path do %>

            <h1>Edit Connection</h1>
      </div>
      <div class = "body">
       <ul>
        <label for=Company>Select Company:</label>
          <select name="Company">
            <option value ="1">Fastway</option>
            <option value ="2">DHL</option>
            <option value ="3">PostHaste</option>
          </select>
        </ul>
        <ul>
          <label for=Connection>Select Connection:</label>
          <select name="Connection">
            <option value ="1">Wellington-Auckland</option>
            <option value ="2">Christchurch-Napier</option>
            <option value ="3">Auckland-Sydney</option>
          </select>
        </ul>

        <% end %>
</div>