.home-card {
	background-color: #fff;
	margin: 5% 10% 5% 10%;
	padding: 25px;
	border: solid;
	border-color: #CCC;
	border-width: 0px 0px 2px 0px;
}

.home-card h1 {
	text-transform: uppercase;
	font-weight: 400;
	font-style: italic;
	border: solid;
	border-color: #DEDEDE;
	border-width: 0px 0px 2px 0px;
	padding: 0px 0px 10px 10px;
	margin: 0px 0px 10px 0px;
}

.home-card table {
	padding: 0px 30px 0px 20px;
	vertical-align: top;
}


.home-card th {
	text-transform: uppercase;
	text-align: center;
	padding: 10px 0px;
}

.home-card td {
	vertical-align: top;
}

input[type='text'] {
  width: 300px;
  padding: 6px 0px 6px 5px;
  margin: 0px 0px 0px 0px;
  font-weight: 300;
  font-size: 15px;
  font-style: italic;
  text-shadow: 1px 1px 0 rgba(255,255,255,1.0);
  border: 1px solid #DEDEDE;
}

input[type='submit'] {
	padding: 5px 10px 5px 10px;
	margin: 0px 0px 0px 10px;
	color: #fff;
	text-transform: uppercase;
	background-color: rgba(64, 102, 24, 0.8);
}

input[type='submit']:hover {
	background-color: rgba(64, 102, 24, 0.7);
}



.home-logview table {
	margin: 20px;
	padding: 10px 10px 10px 10px;
	border-collapse: collapse;
}

.home-logview th {
	text-transform: uppercase;
	font-weight: 400;
	padding: 5px 0px 10px 10px;
	text-align: center;
}

.search-table {
	border-collapse: collapse;
	width: 100%;
	margin: 10px 10px;
	text-transform: uppercase;
}

.search-table a {
	color: #000;
	text-decoration: none;

}

.home-main-row:hover {
	background-color: rgba(64, 102, 24, 0.3);
}

.home-logview .open_event, .home-main-row td {
	padding: 10px;
	border: solid;
	border-width: 2px 0px 2px 0px;
	border-color: #CDCDCD;		
}

.home-logview .event-drop-down {
	background-color: #EDEDED;
}

.home-logview .event-drop-down td {
	padding: 10px 15px 20px 15px;
}

.search-half {
	width: 50%;
} 

.noti-half{
	width: 50%;
}