// Place all the styles related to the mail controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mail-card {
	background-color: #fff;
	margin: 5% 10% 5% 10%;
	padding: 25px;
	border: solid;
	border-color: #CCC;
	border-width: 0px 0px 2px 0px;
}

.mail-card h1 {
	text-transform: uppercase;
	font-weight: 400;
	font-style: italic;
	border: solid;
	border-color: #DEDEDE;
	border-width: 0px 0px 2px 0px;
	padding: 0px 0px 10px 10px;
	margin: 0px 0px 10px 0px;
}

.mail-card table {
	margin: 0px 10px 0px 10px;
	width: 100%;
	border-collapse: collapse;
}

.mail-card thead {
	border: solid;
	border-color: #DEDEDE;
	border-width: 0px 0px 2px 0px;
}

.mail-card th {
	text-transform: uppercase;
	font-weight: 400;
	padding: 5px 5px 10px 0px;
	text-align: center;
}

.mail-card td {
	font-size: 14px;
	font-weight: 300;
	padding: 5px 10px 5px 10px;
	text-align: center;
}

.list-row {
	border: solid;
	border-width: 2px 0px 2px 0px;
	border-color: #EEEEEE;
}

.list-row:hover {
	background-color: rgba(64, 102, 24, 0.3);
}

.mail-card .companies-button {
	padding: 0px 0px 0px 10px;
}

.mail-form form label {
	text-transform: uppercase;
	width: 150px;
	float: left;
	text-align: right;
	margin-right:  3em;
	display: inline-block;
	padding: 10px 0 0;
}

.mail-card form input[type='text'] {
  width: 300px;
  padding: 6px 0px 6px 5px;
  margin: 0px 0px 0px 0px;
  font-weight: 300;
  font-size: 15px;
  font-style: italic;
  text-shadow: 1px 1px 0 rgba(255,255,255,1.0);
  border: 1px solid #DEDEDE;
}

.new-mail-table td {
	font-weight: 300;
	font-size: 16px;
	text-transform: uppercase;
	vertical-align: middle;
	text-align: left;
	width: 10px;
}

.new-mail-table input[type='text']:focus {
	background: #dfe9ec;
  	color: #010101;
  	font-style: normal;
  	box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
  	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
  	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}

.new-mail-table input[type='submit'] {
	padding: 5px 15px 5px 15px;
	background-color: rgba(64, 102, 24, 0.8);
	text-transform: uppercase;
	color: #fff;
	font-size: 15px;
	font-weight: 400;
	float: right;
	margin: 10px 0px 0px 0px;
}

.new-mail-table input[type='submit']:hover {
  	background-color: rgba(64, 102, 24, 0.6);
}

.back-button a {
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	background-color: #CDCDCD;
	padding: 5px 15px 5px 15px;
	font-size: 15px;
	font-weight: 400;
}

.back-button a:hover {
	background-color: #DDDDDD;
}

.mail-label {
	text-transform: uppercase;
	width: 150px;
	
	
}

.mail-view td {
	float: left;
}

.mail-label a {
	font-weight: 400;
	float: right;
}

.mail-edit-button, .mail-back-button {
	text-transform: uppercase;
	display: inline-block;
	margin: 20px 10px;
}

.mail-edit-button a {
	text-decoration: none;
	padding: 5px 15px 5px 15px;
	background-color: rgba(64, 102, 24, 0.8);
	color: #fff;
	font-size: 15px;
	font-weight: 400;
}

.mail-edit-button a:hover {
	background-color: rgba(64, 102, 24, 0.7);

}	

.mail-back-button a {
	text-decoration: none;
	color: #000;
	background-color: #CDCDCD;
	padding: 5px 15px 5px 15px;
	font-size: 15px;
	font-weight: 400;
}

.partial-mail {
	vertical-align: middle;
	padding: 10px;
}

.partial-mail table {
	margin: 10px;
	padding: 10px;

}

.partial-mail tr {
	vertical-align: middle;
	padding: 0px 5px 5px 10px;
}

.mail-bold {
	font-weight: 400;
	text-transform: uppercase;
}